%link{rel: 'preconnect', href: 'https://www.google.com'}
%link{rel: 'preconnect', href: 'https://www.gstatic.com'}
%link{rel: 'preconnect', href: 'https://onesignal.com'}
-#= render partial: 'shared/loadcss'
= render partial: 'shared/critical'
%meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
%meta{charset: 'utf-8'}
%meta{'http-equiv': 'X-UA-Compatible', content: 'IE=edge,chrome=1'}
%meta{'http-equiv': 'Content-Language', content: 'en'}
%meta{name: 'viewport', content: 'width=device-width, initial-scale=1, viewport-fit=cover'}
%meta{name: 'apple-mobile-web-app-capable', content: 'yes'}
%meta{name: 'author', content: 'Financial Solutions Holdings Ltd.'}
%meta{name: 'copyright', content: "Copyright #{Time.now.year} Financial Solutions Holdings Ltd."}
%meta{name: 'apple-mobile-web-app-status-bar-style', content: 'white'}
%meta{name: 'apple-mobile-web-app-title', content: 'Financial Solutions'}
%meta{name: 'format-detection', content: 'telephone=no'}
%meta{name: 'turbolinks-cache-control', content: 'no-cache'}
%meta{name: 'theme-color', content: '#fff'}
%meta{name: 'msapplication-starturl', content: '/?utm_source=homescreen'}
%link{rel: 'canonical', href: url_for(only_path: false)}
- if Rails.env.production?
  %link{rel: 'manifest', href: '/manifest.json'}
= meta_tags
= robots_block
= page_title
= csrf_meta_tags
= csp_meta_tag
= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true
%link{href: 'preconnect', href: 'https://fonts.gstatic.com'}
= stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'


- if Rails.env.production?
  = javascript_include_tag "https://www.googletagmanager.com/gtag/js?id=#{Figaro.env.ga_tracking_id}", async: true
  = javascript_include_tag 'https://cdn.onesignal.com/sdks/OneSignalSDK.js', async: true
  -#%script
    :plain
      var OneSignal = window.OneSignal || [];
      OneSignal.push(function() {
        OneSignal.init({
          appId: "4c9162e0-e79d-4311-a00d-229e21582afa",
          safari_web_id: "web.onesignal.auto.66a57acb-1f7c-44c2-af57-20e68d9690d6", 
          welcomeNotification: {
            "title": "Financial Solutions",
            "message": "Thank you for subscribing!"
          }
        });
        var notificationPromptDelay = 20000;
        var navigationStart = window.performance.timing.navigationStart;
        var timeNow = Date.now();
        setTimeout(promptAndSubscribeUser, Math.max(notificationPromptDelay - (timeNow - navigationStart), 0));
      });
      function promptAndSubscribeUser() {
        window.OneSignal.isPushNotificationsEnabled(function(isEnabled) {
          if (!isEnabled) {
            window.OneSignal.showSlidedownPrompt();
          }
        });
      }

= render partial: 'shared/favicon'