- provide(:title, 'Eurofunding')
- provide(:description, 'From savings, pensions and mortgage advice to wills and trusts, our range of services helps to make sure your money works harder for you. Both now and in the future.')
- provide(:og_image, 'og-home.jpg')
.position-relative.overflow-hidden
  #hero.d-flex.align-items-center
    = hero_picture_tag 'hero/image/home.jpg', class: 'lazy', alt: 'Home'

    -#= hero_video_tag('hero/video/home.mp4', [{ size: 'xl', query: 'screen and (min-width: 1920px)' }, { size: 'lg', query: 'screen and (min-width: 1200px)' }, { size: 'md', query: 'screen and (min-width: 992px)'}, { size: 'sm', query: 'screen and (min-width: 768px)' }, { size: 'xs', query: 'screen and (min-width: 576px)' }, { size: 'xx', query: 'screen and (min-width: 0px)' }])
    .container.text-white.text-center{style: 'z-index: 1'}
      .hero-padding
        %h1.my-2.wow.fadeInDown.text-shadow.max-width.d-inline-block
          Financial Solutions for individuals and businesses 


        -#%h2.my-2.wow.fadeInUp.d-none.d-sm-inline-block.text-shadow.max-width
          Maecenas eu semper nibh. Aenean vel mollis dolor. Sed ac dapibus lacus, nec tincidunt libero.
        -#.my-2.my-sm-5.hero-cta
          = link_to 'Sign up', contact_path, class: 'btn btn-lg btn-primary mx-2 my-3'
          = link_to 'Find out more', expertise_path, class: 'btn btn-lg btn-outline-light mx-2 d-none d-sm-inline-block'
        
          
-#%section.container.my-7.mb-5
  .row
    .col.text-center
      %h1.headline.m-0.py-4.wow.fadeInLeft
        Aliquam nec accumsan ex.
        
      %h2.m-0.py-4.wow.fadeInRight
        Aenean vel mollis dolor. Sed ac dapibus lacus, nec tincidunt libero. Praesent ac dolor libero. Mauris velit dui, volutpat pellentesque hendrerit eu, interdum nec ante.

      %p.lead.d-inline-block
        Aenean vel mollis dolor. Sed ac dapibus lacus, nec tincidunt libero. Praesent ac dolor libero. Mauris velit dui, volutpat pellentesque hendrerit eu, interdum nec ante.

= render partial: 'services/services'
-#%section
  .container.my-7.mb-5
    .row
      .col.text-center
        %h1.headline.m-0.py-4.wow.fadeInLeft
          Meet the Team
        %h2.m-0.py-4.wow.fadeInRight
          Our team has over 50 years experience in helping individuals with their financial needs
  .bg-primary.text-white{style: 'padding-top: 5rem; padding-bottom: 4rem'}
    .container
      = render partial: 'shared/team_teaser'
   
-#%section
  .container.my-7.mb-5
    .row
      .col.text-center
        %h1.headline.m-0.py-4.wow.fadeInLeft
          Take control of your financial future
        %h2.m-0.py-4.wow.fadeInRight
          Take the first step today book a call at a time that suits you
   
  .container-fluid.p-0.shadow-lg.bg-white
    .row.no-gutters
      .col-lg-6.d-none.d-lg-block{style: 'min-height: 620px'}
        = hero_picture_tag 'other/contact-woman.jpg', class: 'lazy img-fit', alt: 'Contact us'
      .col-lg-6.p-5
        = render partial: 'shared/contact_form'
        

