- provide(:title, 'Cookies')
- provide(:description, 'Your privacy is important to us')
- provide(:robots_block, true)
- provide(:og_image, 'og-cookies.jpg')
.position-relative.overflow-hidden
  #hero.d-flex.align-items-center
    = hero_picture_tag 'hero/image/cookies.jpg', class: 'lazy', alt: 'Website Cookies'
    .container.text-white.text-center{style: 'z-index: 1'}
      .hero-padding
        %h1.my-2.wow.fadeInDown.text-shadow
          Privacy Statement

%section.container.my-5
  .row
    .col
      %h5.mt-5.mb-3.text-primary
        What are Cookies?
      %p
        A cookie is a small file attachment, which is placed in the browser of your computer or on your mobile device. So-called "first party cookies" are cookies controlled by the company, which operates the domain on which the cookies are placed. Eurofunding Ltd. cookies are therefore "first party cookies". Whenever we allow third parties to use cookies through the web pages and apps of Eurofunding Ltd., these cookies are "third party cookies".
      %p
        In addition to cookies, other comparable tracking technologies may be used. For example, they include tracking pixels (called pixel tags, web bugs, or GIFs), tracking URLs or software developer kits (SDKs). A tracking pixel is a tiny graphic only one pixel in size which is sent either via a web page request, in an app, in an advertisement, or in a email format to your computer. Pixels can be used to request data from your device, for example your type of device or your operating system, the IP address, and the time of your visit. Pixels are also used to operate and access cookies in your Browser. Tracking URLs can be used to determine via which referring website the Eurofunding Ltd.. web pages or apps are visited. SDKs, however, are small code components within apps, which work in a manner similar to cookies and tracking pixels.
      %p
        For the purposes of the present rules regarding cookies, all of these technologies are collectively referred to as "cookies".
      %p
        Depending on their function and their intended use, cookies can be divided into four categories*: technical cookies, functional cookies & cookies necessary for the purpose of the company, analytic cookies, and cookies for marketing purposes.

      %h5.mt-5.mb-3.text-primary
        Cookies on this website which do not require consent
      %p
        Strictly necessary cookies (technical cookies, functional cookies & cookies necessary for the purpose of the company), also referred to as "strictly necessary cookies", ensure functions without which you could not use this website as intended. These cookies are exclusively used by Eurofunding Ltd. and are therefore so-called first party cookies.
      %p
        We want to offer our users modern and user-friendly web pages and apps, which automatically reflect their wishes and needs. For such purpose, we use technical cookies to be able to display our website to you and ensure proper functioning. Technical cookies are also used to create the user account, log in, and manage your bookings. This is indispensable for correct functionality of our website.
      %p
        In addition to technical cookies, Eurofunding Ltd. also uses functional cookies & cookies necessary for the purpose of the company. Without such cookies (functional cookies & cookies necessary for the purpose of the company), functions, which permit convenient, efficient and user-friendly surfing on our websites and our apps, for example, your preferred language and currency preferences as well as your searches and accommodations you have viewed earlier, are no longer available. In addition, these cookies can also be used to store your log-in data to ensure that you do not need to reenter them again every time you visit our page. Your password, however, is always encrypted. These functional cookies & cookies necessary for the purpose of the company are indispensable for the functioning of our website considering that they enhance user-friendliness and ensure that your visit to Eurofunding Ltd. is as pleasant as possible. They also ensure that reports about web/app activities can be prepared and to provide other use with the website/app. The legal basis for use of these cookies necessary for the purpose of the company is Article 6, Paragraph 1, letter f of the Basic Data Protection Regulation.  Strictly required cookies can not be deactivated using the function of this page. You can deactivate cookies in general in your browser at all times.
      %p.mt-4
        List of cookies which do not require consent:
      .table-responsive
        %table.table.table-striped.table-dark
          %thead
            %tr
              %th
                First Party Cookies
              %th
                Purpose
              %th
                Expiration Date
              %th
                Category
          %tbody
            %tr
              %td
                _fsasia_session
              %td
                This cookie is used for session handling mechanism
              %td
                User session
              %td
                Functional Cookie
            %tr
              %td
                rack.session
              %td
                This cookie is used for session handling mechanism
              %td
                User session
              %td
                Functional Cookie


      %h5.mt-5.mb-3.text-primary
        Cookies on this website which require consent
      %p
        In addition to technical cookies, functional cookies and cookies necessary for the purpose of the company (strictly necessary cookies), Eurofunding Ltd. also uses analytic cookies to obtain an idea of how visitors use Eurofunding Ltd. to improve and further develop our pages and apps, to analyze the effectiveness of advertisements and notices, and to ensure that we continue to remain interesting and relevant. The collected information is aggregated and therefore analyzed in an anonymous manner.
      %p
        Eurofunding Ltd. also integrates third party contents in this website. For example, this includes the installation of social plugins of different social networks. These third party providers may theoretically install cookies while you visit the Eurofunding Ltd. website and, as a result, for example, receive information that you have accessed a Eurofunding Ltd. website. Please visit the websites of such third party providers to receive more information regarding their use of cookies. Whenever you have decided to basically not grant or withdraw your consent for the use of cookies which require consent, we will ensure that these cookies are no longer installed on your computer in the future. Whenever you decide against technical cookies, functional cookies and cookies necessary for the purpose of the company, under some circumstances, you may not be able to use some functions on our web pages and apps.
      %p
        In addition to our own "first party cookies", Eurofunding Ltd. uses some advertising partners who assist us to make the Internet offering, the website, and apps more interesting for you. Therefore, when you visit the web pages or apps, so-called "third party cookies" of partner companies (cookies for marketing purposes) are also installed on your hard disk. They are temporary/permanent cookies, which are automatically deleted after the specified time. These temporary or permanent cookies are stored on your hard disk and are automatically deleted after the specified time. The cookies of our partner companies only contain pseudonymous, in most cases even anonymous data.

      %p.mt-4
        List of cookies which require consent:
      .table-responsive
        %table.table.table-striped.table-dark
          %thead
            %tr
              %th
                First Party Cookies
              %th
                Purpose
              %th
                Expiration Date
              %th
                Category
          %tbody
            %tr
              %td.text-center{colspan: 4}
                No cookies on this website require consent


      %h5.mt-5.mb-3.text-primary
        Use of cookies on www.eurofunding.co.uk
      %p
        Like most websites you visit, Eurofunding Ltd. also uses cookies to improve the user experience both for one-time as well as repeated visits of the website. For example, this allows you to switch between pages in an easier and more expedient manner. Cookies are either installed by our website (first party cookies) or by other websites & services whose contents are displayed on our website (third party cookies). These third-party providers may install cookies as long as you are logged in on their pages and visit our website. Eurofunding Ltd. has no control over the cookie settings of these websites. Please visit the websites of the third party providers to receive more information about their use of cookies.
      
      %h5.mt-5.mb-3.text-primary
        Managing and deleting cookies
      %p
        Use the upper button to easily reject or accept cookies which require consent. You may also block and delete cookies by changing your browser settings. To manage cookies, most browsers allow accepting or rejecting all cookies or only accept certain types of cookies. The process to manage and delete cookies can be found in the Help function integrated in your browser. Whenever you restrict the use of cookies, you may not be able to use all interactive functions of our website/apps.

      %h5.mt-5.mb-3.text-primary
        Functional cookies and cookies necessary for the purpose of the company
      %p
        %strong
          Google Analytics
      %p
        Google Analytics is a service of Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA ("Google"). Google Analytics uses "cookies", meaning text files which are stored on your computer and permit analysis by Google of the use of our offering. The information collected by the cookie regarding use of our web pages and apps (including your IP address) is usually sent to a Google server in the US and stored there. Please note that, on our web pages, the code "gat._anonymizeIP();;" was added to Google Analytics to ensure anonymized collection of IP addresses (so-called IP masking). Therefore, based on our instructions, your IP address is only documented by Google in a shortened version, which ensures anonymization and makes it impossible to determine your identity. In case IP anonymization is activated on our web pages, your IP address is first shortened by Google within the member states of the European Union or in other contracting states of the Agreement on the European Economic Area. Only in exceptional cases, the complete IP address is transmitted to a Google server in the US and shortened there. Google will use the aforementioned information to analyze your use of our web pages and apps, prepare reports about the web pages and app activities for us, and provide other services for us in connection with the use of web pages/apps and the Internet. The IP address, which is sent by your browser within the scope of Google Analytics, is not combined with other Google data. These data are only transferred by Google to third parties according to the legal regulations or within the scope of contract data processing. In no case will Google combine the data with other data collected by Google. By using this website or app, you agree to processing of the data collected about you by Google, the above-described manner of data processing, as well as the specified purpose. You can prevent the storage of cookies based on the respective setting of your browser software; however, we herewith inform you that, in this case, it may not be possible to fully use all functions of our web pages & apps. You may also prevent collection of the data generated by the cookie and related with your use of these web pages (including your IP address) for Google as well as the processing of such data by Google by downloading and installing the browser plugin available at the following
        = link_to 'link.', 'https://tools.google.com/dlpage/gaoptout?hl=en', rel: 'noreferrer'

      %h5.mt-5.mb-3.text-primary
        Deactivating cookies or managing your cookie settings
      %p
        The following list provides additional information on how to deactivate or manage your cookie settings in your browser:
      %ul
        %li
          = link_to 'Google Chrome', 'https://support.google.com/chrome/answer/95647?hl=en', target: '_blank', rel: 'noreferrer'
        %li
          = link_to 'Firefox', 'https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences', target: '_blank', rel: 'noreferrer'
        %li
          = link_to 'Internet Explorer', 'https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies', target: '_blank', rel: 'noreferrer'
        %li
          = link_to 'Safari', 'https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac', target: '_blank', rel: 'noreferrer'






      



