- name = [first_name, last_name].join(' ')
- image = [last_name, first_name].join('-').downcase
.mb-5
  .p-5
    %picture
      %source{'data-srcset': "#{image_path('mugshot/' + image + '-xs.webp')}, #{image_path('mugshot/' + image + '-xs@2x.webp')} 2x", type: 'image/webp'}
      = image_tag "mugshot/#{image}-poster.jpg", 'data-srcset': "#{image_path('mugshot/' + image + '-xs.jpg')}, #{image_path('mugshot/' + image + '-xs@2x.jpg')} 2x", class: 'lazy rounded-circle shadow', style: 'border: 4px solid white; width: 100%', alt: name

  .mb-4.text-primary
    %h3
      #{content_tag(:strong, first_name)} #{last_name}
    %h6.text-primary.text-uppercase.letter-spacing.mb-2
      = title
  %p
    = body
    



